<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>library </title>
</head>
<body>
  
<form action="/sign_up" style="border:1px solid #ccc" method="post">
  <div class="container">
    
    <p>CREATE ACCOUNT</p>
    

    <label for="username"><b>Email</b></label>
    <input type="text" placeholder="Username" id ="username" name="username" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" id= "psw" required>

    <label for="psw_repeat"><b>Repeat Password</b></label>
    <input type="password" placeholder="Confirm Password" name="psw_repeat" id ="psw_repeat" required>

    <!-- <label>
      <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
    </label> -->

    <!-- <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p> -->

    <input type = "submit" value="submit" >
  </div>
  <div class="container">
 {% for mesg in get_flashed_messages() %}
      <p>{{ mesg }}</p>
      {% endfor %}
      </div>
</form> 

<form action="/login" style="border:1px solid #ccc" method="post">
<input type = "submit" value="login" >
</form>
<form action="/admin_login" style="border:1px solid #ccc" method="post">
<input type = "submit" value="ADMIN" >
</form>

</body>
</html>